<%- include("partials/header") %>

<style>.container{grid-template-columns:repeat(4, max-content)}</style>


<div class="container">

    <button class=testClass value=0 id="0" onclick="clicked(0)"></button>
    <button class=testClass  value=0 id="1" onclick="clicked(1)"></button>
    <button class=testClass  value=0 id="b2" onclick="clicked(2)"></button>
    <button class=testClass  value=0 id="b3" onclick="clicked(3)"></button>
    <button class=testClass  value=0 id="b4" onclick="clicked(4)"></button>
    <button class=testClass  value=0 id="b5" onclick="clicked(5)"></button>
    <button class=testClass  value=0 id="b6" onclick="clicked(6)"></button>
    <button class=testClass  value=0 id="b7" onclick="clicked(7)"></button>
    <button class=testClass  value=0 id="b8" onclick="clicked(8)"></button>
	 <button class=testClass  value=0 id="b9" onclick="clicked(9)"></button>
    <button class=testClass  value=0 id="b10" onclick="clicked(10)"></button>
    <button class=testClass  value=0 id="b11" onclick="clicked(11)"></button>
    <button class=testClass  value=0 id="b12" onclick="clicked(12)"></button>
    <button class=testClass  value=0 id="b13" onclick="clicked(13)"></button>
    <button class=testClass  value=0 id="b14" onclick="clicked(14)"></button>
    <button class=testClass  value=0 id="b15" onclick="clicked(15)"></button>
 

</div>


<%- include("partials/footer") %>