<!DOCTYPE html>
<html>
	<head>
		<title>Advanced TicTac</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/app.css">
			 <script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script> 

<script src="/javascripts/connect4.js" async></script>
		</head>
	<body onload="document.body.style.opacity='1'"> 

<div class="container jumbotron">
	<h1 id="thisone" class="thisone">
	Welcome to advanced tic-tac!
</h1>

<div style="text-align: center">
	<h3>
	Choose your adventure</h3>
	 <a class="btn btn-success btn-lg" href="three">3x3</a>
    <a class="btn btn-warning btn-lg" href="four">4x4</a>
    <a class="btn btn-danger btn-lg" href="five">5x5</a>
	
</div>
	
	<div style="text-align: center">
	<h3>
	Or Play a different game</h3>

    <a class="btn btn-default btn-lg" href="connect4">Connect 4</a>
	
</div>




</div>

	</body>
</html>




